@charset "UTF-8";
* {
    /*border: 1px solid #000;*/
    margin: 0;
    padding: 0;
}
li.li1 {
    background-color: #fff;
    border: 1px solid #000;
    width: 120px;
    height: 20px;
    margin: 20px 0;
    padding: 5px;
    display: inline-block;
}
li.li2 {
    background-color: #fff;
    /*border: 1px solid #000;*/
    text-align: left;
    width: 120px;
    height: 20px;
    margin: 20px 0;
    padding: 5px;
}
a, a:visited {
    color: #000;
    text-decoration: none;
}
li:hover {
    box-shadow: inset 0 0 5px 1px #c0c0c0;
}
aside {
    text-align: center;
}
nav.aside {
    display: inline-block;
}
aside.floatDir {
    border: 1pc solid #000;
    float: right;
}
img {
    width: 100%;
    /*height: 100%;*/
}
section#first img {
    border: 1px solid #000;
}
section#second img {
    border: 1px solid #000;
    height: 200px;
}
/*/////////////////////CLASSES E ID's////////////////////////*/
#aside {
    border: 1px solid #000;
    width: 18%;
    height: 1586px;
    display: inline-block;
}
#container {
    border: 1px solid #000;
    width: 1100px;
    float: right;
}
#caixaEsq {
    border: 1px solid #000;
    float: left;
    width: 70%;
    margin: 5px;
    text-align: center;
}
#first {
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
}
#second {
    /*a*/
}
#fila1 {
    border: 1px solid #000;
    width: 45%;
    margin: 5px;
    padding: 5px;
    float: left;
}
#fila2 {
    border: 1px solid #000;
    width: 45%;
    margin: 5px;
    padding: 5px;
    float: right;
}
#caixaDir {
    border: 1px solid #000;
    float: right;
    width: 25%;
    margin: 5px;
}
.caixa1 {
    margin: 5px auto;
    padding: 5px;
    height: 150px;
    text-align: center;
}
.inputHeader1 {
    padding: 5px 15px;
    width: 400px;
    height: 20px;
    border-radius: 25px;
}
.inputHeader2 {
    padding: 5px 15px;
    border-radius: 25px;
    float: right;
}
.inputHeader2:active {
    background-color: #7FFF00FF;
}
.textoBonito {
    font-family: Algerian, serif;
    text-align: left;
}
.anuncios {
    border: 1px solid #000;
    height: 450px;
    margin: 2px;
}
